<% include partials/header %>

        <h1> <%= serv.title %> </h1>
        <div>
            <img src="<%= serv.image %>" class="img-thumbnail">
        </div>
        
        <hr>
        
        <p>
            <%= serv.descr %>
        </p>
            
        <a class="btn btn-lg btn-primary btn-block" href="/service/<%= serv._id %>/edit">Edit</a>    
         
         <form action="/service/<%= serv._id %>?_method=DELETE" method="POST">
            <div class="form-group" style="width: 20%; margin:auto auto;">
             <button class="btn btn-lg btn-primary btn-block">DELETE</button>
             </div>
        </form> 
        
<% include partials/footer %>